*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.main-bg{
    background: url(../images/main-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(100px);
}
.loading-wrapper{
    background-color: #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-text{
    font-size: 50px;
    color: #fff;
}